In [1]:
import pandas as pd

In [2]:
weather_data = pd.read_csv("Resources/random_cities_with_weather_data_MOSHER.csv")

In [3]:
weather_data = weather_data.dropna()

              City    Lat   Temp  Humidity  Cloudiness  Wind_speed
0          rikitea -23.12  69.29      73.0        49.0       19.71
1          winslow  51.94  41.52      93.0        75.0        6.93
2           dikson  73.51  26.87      85.0        99.0       17.92
3          ushuaia -54.81  55.40      96.0        75.0       10.29
4             hami  42.84  55.20      17.0         1.0        3.69
..             ...    ...    ...       ...         ...         ...
611       havelock  34.88  69.53      93.0        90.0        5.82
612  cockburn town  21.46  82.77      80.0        97.0       16.84
613         najran  17.54  75.20      27.0         0.0        8.21
614     baruun-urt  46.68  39.07      32.0         6.0       17.67
615          salta -24.79  59.23      82.0        75.0        4.70

[548 rows x 6 columns]

In [4]:
weather_data = weather_data.set_index("City")

In [5]:
weather_data.to_html("weather_data_table.html")